
html
body {
	margin: 0;
	padding: 0;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	background-color: hsl(185, 75%, 39%);
	background-size: contain;
}

.top-image {
	height: 50%;
	width: 50%;
	background-image: url('../images/top.svg');
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: cover;
	position: fixed;
	right: 45%;
	left:0%;
	top:0%;
	bottom: 30%;
	z-index: 0;
}

.bottom-image {
	height:50%;
	width:60%;
	background-image:url(../images/bottom.svg);
	background-repeat:no-repeat;
	background-position:right top;
	background-size:cover;
	position:fixed;
	top:55%;
	bottom:0%;
	right:0%;
	left:55%;
	z-index:0;
}

.card {
	width: 330px;
	height: 350px;
	z-index: 9999;
	background-color: white;
	border-radius: 10px;
	box-shadow: 1px 1px 50px 10px hsl(185, 75%, 39%);
	position: relative;
	margin-top: 13%;
	margin-left: 37%;
}

.card-bg {
	background-image:url(../images/bg-pattern.svg);
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom:5px solid white;
	z-index:1111;
	width:330px;
	height:110px;
	position:absolute;
}

.profile-pic {
}

img {
	border-radius: 50%;
	border: 5px solid white;
	position:absolute;
	top:60%;
	left:32%;
}

.mid-card {

}

.name {
	position:absolute;
	left:29%;
	top:170%;
	font-size:18px;
	font-weight:700;
	
}

.age {
	position: absolute;
	top: 170%;
	left: 65%;
	color: hsl(0, 0%, 59%);
}

.city {
	position: absolute;
	top: 197%;
	left: 41%;
	color: hsl(0, 0%, 59%);
	font-size:15px;
}

hr {
	margin-top: 77%;
	background-color: lightgrey;
}

.final-card {
	position: absolute;
	top: 240%;
	left: 5%;
	right: 5%;
	text-align:center;
}

.n1 {
	display:flex;
	justify-content:space-evenly;
	font-size:19px;
	font-weight:700;
	word-spacing:47px;
	margin-top:20px;
}

.n2 {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: hsl(0, 0%, 59%);
	margin-left:20px;
	margin-top:8px;
	word-spacing: 40px;
	text-align:justify;
	letter-spacing:1.5px;
	line-height:7px;
}